include _variables
// navigation
mixin mainNavigation(obj, count)
	nav.main-navigation
		.container
			ul.main-navigation__list
				-var n = 0
				each val, index in obj
					li(class= n++ == count - 1 ? 'main-navigation__item_active': '').main-navigation__item
						a(href= index).main-navigation__link= val


mixin breadcrumbs(obj, count)
	.breadcrumbs
		ul.breadcrumbs__list
			-var n = 0
			-var l = 0
			each val, index in obj
				li.breadcrumbs__item
					a(
						class=l++ == count - 1 ? 'breadcrumbs__link_active': '' 
						class="breadcrumbs__link" 
						href=n++ == count -1 ? null : index)= val

mixin productListIndex(obj, count)
	.list-index
		ul.list-index__list
			-var n = 0
			-var l = 0
			each val, index in obj
				li.list-index__item
					a(
						href= n++ == count-1 ? null : index
						class= l++ == count -1 ? 'list-index__link_active': ''
						class="list-index__link")= val

mixin sidebarMenu(obj, count)
	nav.sidebar-navigation
		ul.sidebar-navigation__list
			-var n = 0
			each index in obj
				li(class= n++ == count -1 ? 'sidebar-navigation__item_active': '').sidebar-navigation__item= index.name
					-var sub = index.submenu
					if sub
						ul.sidebar-navigation-submenu__list
							each subindex in sub
								li.sidebar-navigation-submenu__item
									a(href= subindex.url)= subindex.name

mixin prodList(obj)
	.product
		each index in obj
			img(src= index.url).product__image
			.product__description
				span.product__title= index.title
				.product__stats
					.product__stats-line
						each stat in index.stats
							span.product__stats-name= stat.name
							span.product__stats-value= stat.value


